// .personal {
    // display: none;
// }

img.blog-image {
    border: 0;
    display: block;
    box-shadow: 0 0.05em 0.15em 0 rgba(0, 0, 0, 0.05);

    &.featured {
        display: block;
        max-height: 600px;
        max-width: 100%;
        margin: auto;
    }

    &.height-limit {
        display:block;
        max-height: 300px;
        margin:auto;
    }



}

.tripblan {
    display: block;
    margin: auto;
    max-width: 90%;
}


/* Item */

.item {
    box-shadow: 0 0.05em 0.15em 0 rgba(0, 0, 0, 0.05);
    margin-bottom: 40px;
    display: block;
    figcaption {
        color: #666;
        text-align: center;
        background: #fff;
        margin: 0;
        padding: 0.5em;
        font-size: 1em;
        font-weight: 500;
        display: inherit;
    }
    .figdesc {
        color: #666;
        text-align: center;
        background: #fff;
        margin: 0;
        padding: 0.2em;
        font-size: 0.9em;
        font-weight: 300;
        display: inherit;

    }

    &.left {
        float: left;
        width: 34%;
        margin: 0 1em 1em 0;
        max-height: 500px;
    }

    &.right {
        float: right;
        width: 34%;
        margin: 0 0 1em 1em;
        max-height: 500px;
    }

    &.vertical-featured {
        max-height: 500px;
        margin: auto;
    }

    

}


